/* .comments{
    margin-bottom: 20px;
} */

.faqAnswer{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
    margin-right: 10px;
}

.faqAnswerOpen{
   border: solid lightgray;
   padding: 10px;
}

.faqAnswerOpen:hover{
    border: solid lightgray;
    padding: 10px;
    background-color: lightgray;
    cursor: pointer;
 }