.container {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.textBoxContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.textBox {
    display: flex;
    width: 372px;
    height: 47px;
    align-items: center;
    justify-content: center;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: var(--grey);
    border-radius: 7px;
}

.textInput {
    width: 335px;
    background-color: var(--grey);
    border: none;
    font-size: 16px;
    color: var(--text-color-dark);
    font-family: 'Urbanist';
    flex-grow: 1;
    outline: none;
}

.textInput::placeholder {
    color: var(--text-color-grey);
}
  
.label {
    margin-bottom: 8px;
    padding-left: 10px;
}