.container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 70px;
    z-index: 1000;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    width: 372px;
    border-radius: 28px;
    background-color: var(--white);
    border: 2px solid var(--darker-grey);
    gap: 0.5em;
}

.searchInput {
    background-color: var(--white);
    border: none;
    font-size: 16px;
    color: var(--text-color-dark);
    font-family: 'Urbanist';
    flex-grow: 1;
    outline: none;
}

.searchInput::placeholder {
    color: var(--light-grey);
}

.searchIcon {
    margin-right: 10px;
}
