.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: white;
    background-color: var(--white);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.navigation {
    display: flex;
    justify-content: center;
    height: 116px;
    max-width: 100%;
    overflow-x: auto;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: white;
    color: var(--button-color);
    margin: 0;
    padding: 0;
}

.navigation li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.iconlink {
    list-style: none;
    text-decoration: none;
    color: var(--button-color);
    display: flex;
    width: 72px;
    height: 52px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

