.answerBox {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--grey);
}

.answerBox:hover {
    background-color: gre;
    cursor: pointer;
}

.answerBox.correct {
    border-color: var(--correct);
}

.radioButton {
    margin-right: 10px;
    display: none;
}

.label {
    font-size: 16px;
    color: #333;
}
