.search {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--grey);
}

.searchInput {
    background-color: var(--grey);
    border: none;
    font-size: 20px;
    color: var(--light-grey);
    font-family: 'Urbanist';
    flex-grow: 1;
}

.searchIcon {
    margin-right: 10px; 
}

.container {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.navigation {
    width: 100%; /* Ensure full width */
    max-width: 400px; /* Set maximum width for mobile */
    margin-bottom: 30px;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    list-style-type: none;
    background-color: white;
    color: var(--button-color);
}

.navigation li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}