.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.button {
  width: 372px;
  height: 47px;
  background-color: var(--button-color);
  color: white;
  border: 1.5px solid var(--button-color);
  border-radius: 7px;
}
.button:hover{
  width: 372px;
  height: 47px;
  background-color: var(--button-color);
  color: black;
  border: 1.5px solid var(--button-color);
  border-radius: 7px;
}
