.answerContainer {
    width: 100%;
    max-width: 360px; 
    margin: 0 auto; /* Center align the answer container */
}

.choice {
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.question {
    text-align: center;
    margin-top: 5em;
}

.navigate {
    display: flex;
    justify-content: center;
    margin: 3em;
    gap: 1em;
}

.button {
    width: 150px;
    height: 47px;
    background-color: var(--button-color);
    color: white;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}

.button:hover {
    width: 150px;
    height: 47px;
    background-color: var(--button-color-hover);
    color: white;
    border: 1.5px solid var(--button-color-hover);
    border-radius: 7px;
}

.buttonsecondary {
    width: 150px;
    height: 47px;
    background-color: white;
    color: black;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}
.buttonsecondary:hover {
    width: 150px;
    height: 47px;
    background-color:black
    color: black;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}


.feedback {
    text-align: center;
    margin-top: 3em;
}

.end {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}