.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
<<<<<<< HEAD
  min-height: 20vh;
}

.navcontainer {
    width: 430px;
    height: 932px;
    padding-top:50px;
=======
  margin: 0;
  overflow: hidden;
}

.container {
    width: 430px;
    height: 932px;
    padding-top: 50px;
>>>>>>> 684774ba243f559768ed9a83c71734aa5696cf67
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.cards {
<<<<<<< HEAD
  display: flex;
  flex-direction: row;
  gap: 10px;
=======
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
>>>>>>> 684774ba243f559768ed9a83c71734aa5696cf67
}
  
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: co;
  width: 181px;
  height: 181px;
  background-color: var(--grey);
  border-radius: 15px;
}

.nearbyActivity {
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
=======
}

.nearbyActivity p {
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
}

.cardButton {
  background-color: transparent;
  border: none;
}

/* Graph */

.quizHomeGraph{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
>>>>>>> 684774ba243f559768ed9a83c71734aa5696cf67
}