.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.navcontainer {
    width: 430px;
    height: 932px;
    padding-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
  
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: co;
  width: 181px;
  height: 181px;
  background-color: var(--grey);
  border-radius: 15px;
}

.nearbyActivity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nearbyActivity p {
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
}

.cardButton {
  background-color: transparent;
  border: none;
}