.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    margin: 0;
    overflow: hidden;
  }
  
  .container {
      width: 430px;
      height: 932px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .catagory{
        margin-left: 130px;
        margin-right: 403px;
        margin-top: 30px;
    }

    .catagoryIcon{
        position: absolute;
        margin-left: 1px;
    }

    .catagoryText{
        padding-left: 25px;
        text-align: center;
    }
    .selectorRectangle{
        width: 398px;
        height: 58px;
        flex-shrink: 0;
        border-top: 1px solid var(--divider, #E6E6E6);
        border-bottom: 1px solid var(--divider, #E6E6E6);
    }

    .selectorRectangleText{
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        margin-top: 19px;
        margin-left: 11px;
    }