.quizContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 36.2%;
    width: 430px;
}

.answerContainer {
    width: 372px; 
    margin: 0 auto;
}

.choice {
    text-align: center;
    margin-top: 1em;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.question {
    text-align: center;
    margin-top: 5em;

}

.navigate {
    display: flex;
    justify-content: center;
    margin: 3em;
    gap: 1em;
}

.feedback {
    text-align: center;
    margin-top: 3em;
}

.end {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizImage {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.quizImage2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 35px;
}
/* Quiz Home */


.quizHomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizHomeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 51px;
}

.quizHomeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 34px;
    margin-right: 34px;
}

.quizHomeDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    max-width: 350px;
}
.quizHomeGraph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    align-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 15px;
}

.quizHomeTitle h2 {
    font-size: 24px;
    font-weight: 400;

}

.startButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 20vh;
  }