.quizOneContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answerContainer {
    width: 100%;
    max-width: 372px; 
    margin: 0 auto;
}

.choice {
    text-align: center;
    margin-top: 1em;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.question {
    text-align: center;
    margin-top: 5em;
}

.navigate {
    display: flex;
    justify-content: center;
    margin: 3em;
    gap: 1em;
}

.button {
    width: 372px;
    height: 47px;
    background-color: var(--button-color);
    color: white;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}

.button:hover {
    width: 150px;
    height: 47px;
    background-color: var(--button-color-hover);
    color: white;
    border: 1.5px solid var(--button-color-hover);
    border-radius: 7px;
    cursor: pointer;
}

.buttonsecondary {
    width: 150px;
    height: 47px;
    background-color: white;
    color: black;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}
.buttonsecondary:hover {
    width: 150px;
    height: 47px;
    background-color: rgb(238, 238, 238);
    color: black;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}


.feedback {
    text-align: center;
    margin-top: 3em;
}

.end {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizImage {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 212px; 
}

/* Quiz Home */


.quizHomeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.quizHomeTitle h2 {
    font-size: 24px;
    font-weight: 400;
}

.startButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.startButton {
    width: 372px;
    height: 47px;
    background-color: var(--button-color);
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: white;
    border: 1.5px solid var(--button-color);
    border-radius: 7px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 20vh;
  }